@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-pelak);
}

.gradient-text {
  background: linear-gradient(270deg, #DD5602 0%, #FFA630 33.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 20px;
  color: #FFA630;
  font-weight: 600;
}

input {
  border: 1px solid #DD5602;
  border-radius: 10px;
  outline: none;
  height: 40px;
  color: black;
  padding: 4px;
}

button {
  color: black;
  background: #FFA630;
  border-radius: 4px;
  padding: 4px
}

select {
  border-radius: 10px;
  color: black;
  outline: none;
}